* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****WelcomeSection CSS*****/
.welcomeSec {
  /* width: 100%; */
  height: 55.4rem;
  background-image: url(./images/welcome.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeSec h2 {
  color: #2a3140;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px red solid;
}

.welcomeSec h4 {
  color: #2a3140;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-family: sans-serif;
  line-height: normal;
  border: 1px red solid;
}

.welcomeSec button {
  width: 8.75rem;
  height: 3rem;
  /* padding: 1rem 1.5rem; */
  border-radius: 1rem;
  background: #2a3140;
  color: #f2dbae;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/********NavBar CSS******/
.nav {
  border: 1px solid red;
  display: flex;
  gap: 3;
  /* justify-content: space-around; */
}
.navItem {
  border: 1px solid red;
  width: 47.5rem;
  justify-content: space-between;
}
.logo {
  border: 1px solid red;
}
.searchTab {
  width: 25rem;
  height: 1.5rem;
  border: 2px solid #2a3140;
  background-color: #fff;
  border-radius: 0.5rem;
}

/*******BEST SELLERS********/
.bestSellers {
  background-color: #f2dbae;
  border-radius: 0.75rem;
}

.bestSellerButton {
  width: 13rem;
  height: 3rem;
  border-radius: 1rem;
  background: #2a3140;
  color: #f2dbae;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*********Products********/
.products {
  background-color: #f2dbae;
  border-radius: 0.75rem;
}

/********About************/
.knowUsSection {
  background: #2a3140;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  color: #fff;
}

.knowUsButton {
  border: 2px solid #f2dbae;
  border-radius: 1rem;
  /* padding: 0.8125rem 1.6875rem; */
  width: 9rem;
  height: 3rem;
  background: #2a3140;
  /* color: #f2dbae; */
  /* font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; */
}
.knowUsDetails {
  border: 2px solid white;
}

.knowUsPic {
  border: 2px solid white;
}

.tumi {
  max-width: 100%;
  height: auto;
}

/*******Reviews******/
.reviews {
  /* background: #2a3140;
  color: #fff; */
  border: 1px solid red;
}
/* .review-card {
  width: 20rem;
} */
.review-top {
  border: 1px solid red;
  display: flex;
  /* justify-content: space-between; */
}
.avatar1 {
  display: flex;
  background-color: #be2424;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 4.5rem;
}
.avatar2 {
  display: flex;
  background-color: #13a94f;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 4.5rem;
}
.avatar3 {
  display: flex;
  background-color: #244fbe;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 4.5rem;
}
.avatar-text {
  margin: auto;
  color: #fff;
}
.review-text {
  color: #000;
  font-family: Sans Serif Collection;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer {
  background: #f2dbae;
}
